html, body{
    font-size: 20px;
    height: 100%;
}

body{
    background-color: hsl(240, 6%, 13%);
    min-width: 414px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'PT Sans Caption', sans-serif;
    font-family: 'Quattrocento Sans', sans-serif;
}

.tuba-perfil{
    display: inline-block;
    margin: 4px;
    padding: 4px;
    width: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#perfil:hover{
    cursor: pointer;
    opacity: 100%;
}

.-hidden{
    display: none !important;
}

.-active{
    display: inherit !important;
}