.page-title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}

.title-text{
    font-size: 50px;
    color: #fefeff;
    font-weight: bold;
    
}

body .-day-theme{
    background-color: #1f1f23;
    background: linear-gradient(#f05ee0, #d9d1ff, #b7b7f7, #63c2fa);
}

#icon{
    margin-left: 15px;
    height: 58px;
    height: 58px;
}